# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Custom Scripts (Security)
change_password.py
create_superuser.py
check_categories.py
check_slug.py
